<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TicketFlow</title>
  <link rel="stylesheet" href="/styles/landing.css">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
